<div class="right" contenteditable="true">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolores quas tenetur minus. Eos, voluptate
        quas, pariatur aliquid porro facilis itaque delectus quam libero officiis inventore assumenda unde, numquam
        corrupti?</p>

    <!-- <ul>
        <li *ngFor="let emp of employeeService.allEmployee" (click)="showDetails()"><a routerLink="/link">
                <h2>{{emp.tittle}}</h2>
            </a>
            <p>{{emp.discription}}</p>
        </li>

    </ul> -->
</div>
<!-- <router-outlet></router-outlet> -->